/* Styling for HTML elements */

body {
  padding: 5;
  margin: 5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #efeee7;
}

header {
  background: #333;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #eee;
  margin-left: 153px;
  margin-top:25px;
}


h2 {
  font-size: 24px;
  color: #333;
}

h5 {
  margin-top:25px;
  padding-left: 10px;
  padding-right: 25px;
}

p {
  /* margin-top:25px; */
  /* padding-left: 50px; */
}

li {
  color: #333;
}

#text-center {
  text-align: center;
}



/* #figure {
  position: relative;
  float: center;
} */

#bio-image {
  max-width: 245px;
  height: auto;
  /* width:100%; */
  /* margin-left: autox; */
  /* margin-right: auto; */
  /* float: center; */
  /* border-style: solid;
  border-width: 5px;  */
  /* margin-right: 20px; */
  margin-top:25px;
} 


table.d {
  table-layout: fixed;
  width: 100%;  
}


#contact-info {
  margin-top: 25px;
  /* margin-left: 10px; */
}


/* #wrap-text {
  float: left;
  margin: 10px;
} */

/* Selecting elements by class */
/* .container {
  min-width: 720px;
  /* max-width: 1024px; */
  /* padding-right: 150px;
} */

/* Selecting elements by ID */
/* #main-bio,
#contact-info,
#project-info,
#bio-image {
  float: left;
} */

/* a {
  color: #d21034;
} */

/* #bio-name {
  position: absolute;
  top: 170px;
  left: 50px;
} */

/* #main-bio {
  width: 70%;
} */

/* #contact-info,
#project-info {
  padding-left: 20px;
  width: 25%;
} */
 

/* 
#tables{
  position: relative;
  width: 70%;
  margin-top: 60px;
  left: 115px;
} */

/* .center {
  margin-left: auto;
  margin-right: auto;
} */